#! /usr/bin/bash
# history
alias hsi='history | grep -i' # search history
alias hs="history -5"         # last 5 history commands
alias hsc="history -c"        # clear history

# python apps:
# venv:
alias venv"=source venv/bin/activate" # activate python virtualenv
alias cvenv"=python -m venv venv"     # create python virtualenv
alias uvenv"=cvenv && venv && python -m pip install pip setuptools wheel -U" # create python virtualenv,activate it, and upgrade it
# net:
alias durl='http -d' # download file using httpie (usually better and slower then wget)
# decode/encode url from stdin or from command line arguments:
alias urlencode='python3 -c "import sys; import urllib.parse as up; print(up.quote_plus('\'' '\''.join(sys.argv[1:]) or sys.stdin.read()[0:-1]))"'
alias urldecode='python3 -c "import sys; import urllib.parse as up; print(up.unquote_plus('\'' '\''.join(sys.argv[1:]) or sys.stdin.read()[0:-1]))"'
# pretty print json
alias pp_json="python3 -m json.tool"

# zsh userful tools
alias zshconfig="code ~/.aliases ~/.zshrc" # open vscode on .aliases file and .zshrc
alias zsh-aliases="nvim ~/.aliases  ~/.zshrc" # open neovim on .aliases file and .zshrc
alias zshrc="omz reload" # reload the zsh shell (better then `source ~/.zshrc`)

plug(){ # edit plugins line on nano
    zsh_line=$(grep -n "^plugins=(" ~/.zshrc|awk '{print $1}' FS=":");
    nano +"$zsh_line" ~/.zshrc
}
# pacman
alias pacin="sudo pacman -Syu --needed" # upgrade system && install package if not installed yet (this is the normal way of installing package on arch)
alias pacins="sudo pacman -S --needed" # install package if not installed yet (without upgrade system)
alias pacup="sudo pacman -Syu"   # upgrade system
alias pacse="sudo pacman -Ss"    # search for package remotely
alias pacseq="sudo pacman -Qs"   # search for package locally
alias pacinf="pacman -Si"        # get info on package remotely
alias pacinfq="pacman -Qi"       # get info on package locally
alias "pacman?"="pacman -Q|grep" # grep package locally

alias pacrm="sudo pacman -Rsu"  # Remove Package with all its dependencies
alias pacdrm="sudo pacman -Rc"  # Remove Package with all its dependencies and the packages depends on it
alias pacfile="sudo pacman -Qo" # Determining which Package Owns a File
alias paccls="sudo pacman -Sc"  # clear the cache of packages that are no longer installed

# paru - AUR helper
alias sysup="paru -Syu"        # update system && update AUR packages
alias aur.comments="paru -Gc"  # see comments on AUR website
alias aur="paru"               # shortcut for simple - "aur -s paru"
alias par="paru"               # shortcut for paru without the "u"
alias "paru?"="paru -Q|grep"   # grep aur package locally
alias "aur?"="paru -Q|grep"    # same

pacinfo(){ # pacman info with color with bat
    pacman -Si "$@" |bat -pl yml
}

# -  linux system manege
alias find_proc="ps -aux | grep"                # search the list of processes
alias tcn='mv --force -t ~/.local/share/Trash ' # move file to user local trash
alias del='mv --force -t ~/.local/share/Trash ' # same, with alias like windows
alias "dmesg?"="sudo dmesg|grep -C 10"          # grep the kernel messege in 10 line after and before

# simple shortcuts
alias "?"='grep'  # use: cat file|? string

nushell(){ # use: strings file|nushell
    text=$(cat)
    export text
    echo "you can acsses the text with \$env.text"
    nu
}

alias py='python' # like windows "py" command
alias v='nvim'    # one letter to v
alias hx='helix'  # two letter to helix text editor
alias "E"='code'  # one letter to vscode
alias sudovim='sudo nvim' # remove space between sudo and nevim
alias sudoch='sudo chmod' # chenge permission of file using sudo
alias e.='start .' # start file maneger
alias create="touch" # create new file is more sensible with "create"
alias copydir="copypath" # use the copypath plugin instead of "echo $PWD"

# fix common mistakes and typeos
alias sl="ls"
alias "cd.."="cd .."
alias "code."="code ."

# git
alias gitam="git commit -am" #   Auto stage all modified files and commit
alias gitp='git pull' # pull chenges from the server
alias g='git ' # one letter for git

# chmod
alias chx="chmod +x" # make file executable
alias ch666="chmod 666" # make file open to all

# better builtin linux commands
alias l="exa --git"                                             # listdir with exa with support to git
alias "L"="exa -la --git --group-directories-first"             # listdir like ls -l with exa
alias "ll"="exa -la --git --group-directories-first"            # same
alias rm='rm -I'                                                # confirm before removing a lot of files.
alias cp="cp -iv"                                               # Confirm before overwriting something and verbose
alias mv="mv -iv"                                               # Confirm before overwriting something and verbose
alias df='df -h'                                                # Human-readable sizes
alias free='free -h'                                            # Human-readable sizes
alias du="du -c -h"                                             # Human-readable sizes and total size
alias ping="ping -c 5"                                          # Stop after 5 pings
alias dmesg="sudo dmesg"                                        # automaticly add sudo to dmesg
alias lsblk="grc lsblk -o name,mountpoint,label,size,fstype,uuid" # show more info in color
# debian-like commands
alias 'update-grub'='sudo grub-mkconfig -o /boot/grub/grub.cfg' # generated grub.cfg

# windows like commands
alias start="xdg-open"  # xdg-open:linux is "open":mac or "start":windows
alias help="run-help"   # zsh help name is 'run-help'
alias ren="mv"          # rename file is actually moving it to another name
alias cls="clear"

alias mkdirs="mkdir -pv" # Create directories recursively with verbose
alias rmtree="rm -r"     # remove folder recursively
alias rmtreef="rm -rf"    # remove folder recursively with force


# macos like (not much - just to use navi)
alias pbcopy='clipcopy'
alias pbpaste='clippaste'


# hooks
alias "$"="" # simple hook for copy/paste like "$ apt install ..."

# net
alias net-connected-full="nmcli -f STATE -t" # show full internet information
alias net-connected="nmcli -f STATE -t g" # show only internet status
alias net-trace="nmcli -f STATE -t m" # trace internet status chenges

# nmap and ips
myip(){ # get my ip in one command
    ip -json addr show dev enp7s0  |jq -r '.[0].addr_info | map(select(.family == "inet"))[0].local'
}

alias netscan='sudo nmap -sn -4 `myip`/24' # scan the network for devices

# ctf
alias stringsx="strings -n 7 -t x " # strings only lines with 7+ readable and print offset
alias filex="trid"                  # program sometimes better then file in binary files
alias pngcheck="pngcheck -tp7"      # print more then the normal pngcheck

# external apps
alias trid='LANG="" trid'  # trid not work with $LANG

# - files
alias ccat='pygmentize -g'                                                           # color cat using pygmentize
alias fzc="fzf --preview 'bat --color=always --style=numbers --line-range=:500 {}'"  # file selector using fzf and bat preview
alias beep="paplay /usr/share/sounds/kapman/bonus.ogg" # play the kapman sound as alert music

# zoxide (j=c=z)
alias j="z"
alias c="z"

# cht.sh client
alias how="cht.sh"

# curl apps
alias 0x0="curl -F 'file=@-' 0x0.st" # upload text to 0x0
alias 0x0-file="curl -F 'file=@-' 0x0.st < "

# translate
trans(){
    http "https://lingva.ml/api/v1/iw/en/$*" |jq -r ".translation"
}
detrans(){
    http "https://lingva.ml/api/v1/en/iw/$*" |jq -r ".translation"
}
# digitalwhisper - from https://github.com/MichaelYochpaz/DWScraper
alias digital="$HOME/digitalwhisper/DWScraper/venv/bin/python $HOME/digitalwhisper/DWScraper/DWScraper.py issue"     # get digitalwhisper issue with number
alias digital-last="$HOME/digitalwhisper/DWScraper/venv/bin/python $HOME/digitalwhisper/DWScraper/DWScraper.py last" # get last digitalwhisper issue
alias term="ZSH_CUSTOM_THEME='' konsole & disown" # create new konsole windows

# timers
countdown(){ # countdown in the terminal using termdown && send notification && play sound
    termdown "$1" && notify-send "TIMER UP" "$2" -u critical && beep
}

# arduino cli commands
alias "ard"='arduino-cli'
alias "ard-config"='arduino-cli config'
alias "ard-init"='arduino-cli config init --dest-dir .'
alias "ard-sketch"='arduino-cli sketch new'
alias "ard-update"='arduino-cli core update-index'
alias "ard-upgrade"='arduino-cli core upgrade'
alias "ard-list"='arduino-cli board list'
alias "ard-lb"='arduino-cli lib'
alias "ard-run"='arduino-cli compile --fqbn $FQBN --upload --libraries --libraries $HOME/Arduino/libraries'
alias "ard-compile"='arduino-cli compile --fqbn $FQBN --libraries $HOME/Arduino/libraries'

