[Desktop Entry]
Categories=Screensaver;Security
Comment[en_IL]=XScreenSaver daemon: screen saver and locker
Comment=XScreenSaver daemon: screen saver and locker
Exec=xscreensaver -nosplash
GenericName[en_IL]=xscreensaver
GenericName=xscreensaver
MimeType=
Name[en_IL]=XScreensaver
Name=XScreensaver
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
